table{
	width: 700px;
	height: 700px;
	border: 1px solid black;
	margin: 0 auto;
	animation-name: gameOver;
	animation-iteration-count: 1;
	animation-play-state: paused;
	animation-duration: 1500ms;
}


td.body_snake{
	background-color: green;
	border-radius: 10px;
}

td.head_snake{
	background-color: yellow;
	border-radius: 10px; 
}

td.fruit{
	background-color: red;
	border-radius: 10px;
	
}

#score{
	text-align: center;
	font-size: 10px;
}

#best{
	text-align: center;
	font-size: 10px;
}

#gameOver{
	position: absolute;
	width: 20%;
	height: 25px;
	left: 40%;
	background-color: black;
	color: white;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
}

@keyframes gameOver{

	0%{
		background-color: white;
		opacity: 10%;
	}

	50%{
		opacity: 100%;
		background-color: red;
	}
	75%{
		opacity: 10%
		background-color: white;
	}
	100%{
		opacity: 100%
	}
 }

 #menu{
 	position: absolute;
 	width: 20%;
 	left: 40%;
 	top: 218px;
 	padding-top: 25px;
 	background-color: black;
 	border-radius: 10px;
 	color: white;
 	text-align: center;
 	margin: 0 auto;
 }

 ul li{
 	list-style-type: none;

 }

 ul{
 	padding: 0;
 }

 li:hover{
 	background-color: rgba(249, 117, 0, 0.5);
 	cursor: pointer;
 }

 .start{
 	border: 0px;
 	color: white;
 	height: 30px;
 	background-color: blue;
 	margin-bottom: 10px;
 }